<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELIGHT</title>
</head>
<body>
    
    <script>
        function openPage() {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                // Open page for mobile devices
                window.location.href = "/start";
            } else {
                // Open page for desktop devices
                window.location.href = "/start";
            }
        }
        openPage();
    </script>
</body>
</html>
