<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Cuisine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='countries_style.css') }}">
    <style>

        .heading{
            color:antiquewhite;

        }
        .paragraph{
            color:antiquewhite;
        }

        .table1{
            color: antiquewhite;

        }
        .table2{
            color: antiquewhite;

            border: 1px solid white;
        }

        /*For vega nd nono veg */
        .th1{
            color: antiquewhite;
            
        }
        /*for veg table*/
        th{
            color: rgb(114, 42, 8);
            
        }

        /*VEG and NON-veg Button like tables*/
        .rounded-rectangle{
            border: 1px solid white;
        }

        th.veg:hover {background-color: rgb(8, 114, 26)}
        th.non-veg:hover {background-color: rgb(230, 65, 40)}
        tr.row:hover{background-color: rgba(218, 171, 171, 0.884);
                    color: rgb(120, 4, 4);}
        a:link{
            color: antiquewhite;
        }
        a:visited{
            color: antiquewhite;
        }
        a:active{
            color: antiquewhite;
        }

        .toppage{
            background-color: rgb(5, 5, 5);
            color: antiquewhite;
        }

        .toppage:hover{
            background-color: antiquewhite;
            color: rgb(5, 5, 5);
        }

    </style>
</head>
<body style="background-image: url('{{ url_for('static', filename='IMAGES/Countries/India/Brown_Img1.jpg') }}');">

    <div id="overlay" class="overlay" onclick="closeImage()" style="display:none;"></div>

    <div id="myDiv">
        <h1 class="heading">Indian Cuisine</h1>
    </div>
    <div>
        <p class="paragraph">India is a land of diverse cultures, traditions, and flavors. Its culinary landscape is as vast and varied as its geography, offering a delightful array of dishes that cater to every palate. Indian cuisine is characterized by its bold and aromatic spices, vibrant colors, and rich textures, making it a favorite among food lovers worldwide.</p>

        <p class="paragraph">Each region in India boasts its own unique flavors and specialties. From the rich and creamy dishes of the North, like Butter Chicken and Paneer Tikka, to the spicy and tangy flavors of the South, such as Masala Dosa and Andhra Chicken Curry, there is something to satisfy every craving. The coastal regions bring an abundance of seafood delights, while the heartland offers hearty vegetarian options like Dal Tadka and Aloo Gobi.</p>

        <p class="paragraph">Indian cuisine is not just about taste; it's an experience that reflects the country's rich history and cultural diversity. Traditional cooking methods, passed down through generations, blend with modern techniques to create dishes that are both timeless and contemporary. Whether it's the festive Biryani, the comforting Chole Bhature, or the refreshing Mango Lassi, each dish tells a story of India's culinary journey.</p>

        <p class="paragraph">At our restaurant, we invite you to embark on a gastronomic adventure through India. Discover the flavors that make Indian cuisine truly special, crafted with the finest ingredients and a touch of love. Whether you're a seasoned connoisseur or trying Indian food for the first time, we promise an unforgettable dining experience that celebrates the essence of India.</p>

    </div>

    <div>
        <table class="table1">
            <tr>
                <th class="rounded-rectangle th1 veg" onclick="location.href='#veg-link'">VEG BRIYANI</th>
                <th class="rounded-rectangle th1 non-veg" onclick="location.href='#non-veg-link'">NON-VEG BIRYANI</th>
            </tr>
        </table>
    </div>
    <br>

    <div>
        <h1 style="color: antiquewhite; margin: 40px" id="veg-link">VEG </h1>
        <hr>
    </div>
    <!--Veg Briyani table -->
    <div>
        <table class="table2">
            <tr style="background-color: antiquewhite; ">
                <th style="width: 20%;">IMAGE</th>
                <th style="width: 50%;">Name</th>
                <th style="width: 10%;">Small</th>
                <th style="width: 10%;">Medium</th>
                <th style="width: 10%;">Large</th>
            </tr>
            <tr class="nsml row">
                <td>
                    <img
                    src="{{ url_for('static', filename='IMAGES/Countries/India/pbm.jpg') }}"
                    alt="Paneer Butter Masala Image"
                    onclick="enlargeImage(this)"
                >
                </td>
                <td>
                    <h1>Paneer Butter Masala</h1>
                    <p style="font-size: small;">(Soft paneer cubes cooked in a rich, creamy tomato-based gravy.)
                </td>
                <td>150/-</td>
                <td>200/-</td>
                <td>250/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img
                    src="{{ url_for('static', filename='IMAGES/Countries/India/ag.jpg') }}"
                    alt="Aloo Gobi Image"
                    onclick="enlargeImage(this)"
                >
                </td>
                <td>
                    <h1>Aloo Gobi</h1>
                    <p style="font-size: small;">(Potatoes and cauliflower sautéed with aromatic spices.)
                    </p>
                </td>
                <td>100/-</td>
                <td>150/-</td>
                <td>200/-</td>
            </tr> 
            <tr class="nsml row">
                <td>
                    <img
                    src="{{ url_for('static', filename='IMAGES/Countries/India/pp.jpeg') }}"
                    alt="Palak Paneer Image"
                    onclick="enlargeImage(this)"
                >
                </td>
                <td>
                    <h1>Palak Paneer</h1>
                    <p style="font-size: small;">(Paneer cubes in a smooth spinach gravy, flavored with garlic and spices.)
                    </p>
                </td>
                <td>190/-</td>
                <td>230/-</td>
                <td>270/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img
                    src="{{ url_for('static', filename='IMAGES/Countries/India/cb.jpg') }}"
                    alt="Chole Bhature Image"
                    onclick="enlargeImage(this)"
                >
                </td>
                <td>
                    <h1>Chole Bhature</h1>
                    <p style="font-size: small;">(Spicy chickpea curry served with fluffy fried bread.)
                    </p>
                </td>
                <td>140/-</td>
                <td>180/-</td>
                <td>220/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img
                    src="{{ url_for('static', filename='IMAGES/Countries/India/mvb.jpeg') }} "
                    alt="Mixed Veg Biryani Image"
                    onclick="enlargeImage(this)"
                >
                </td>
                <td>
                    <h1>Vegetable Biryani</h1>
                    <p style="font-size: small;">(Veg mixed biryani is a flavorful rice dish prepared with aromatic spices, assorted vegetables, and fragrant basmati rice.)
                    </p>
                </td>
                <td>170/-</td>
                <td>200/-</td>
                <td>230/-</td>
            </tr>
        </table>
    </div>


    <div>
        <h1 style="color: antiquewhite; margin: 40px" id="non-veg-link">NON-VEG</h1>
        <hr>
    </div>
    <div>
        <table class="table2">
            <tr style="background-color: antiquewhite; ">
                <th style="width: 20%;">IMAGE</th>
                <th style="width: 50%;">Name</th>
                <th style="width: 10%;">Small</th>
                <th style="width: 10%;">Medium</th>
                <th style="width: 10%;">Large</th>
            </tr>
            <tr class="nsml row">
                <td>
                    <img
                    src="{{ url_for('static', filename='IMAGES/Countries/India/bc.jpeg') }}"
                    alt="Butter Chicken Image"
                    onclick="enlargeImage(this)"
                >
                </td>
                <td>
                    <h1>Butter Chicken</h1>
                    <p style="font-size: small;">(Creamy tomato-based curry with tender chicken pieces.)</p>
                </td>
                <td>280/-</td>
                <td>310/-</td>
                <td>350/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img
                    src="{{ url_for('static', filename='IMAGES/Countries/India/ctm.jpeg') }}"
                    alt="Chicken Tikka Masala Image"
                    onclick="enlargeImage(this)"
                >
                </td>
                <td>
                    <h1>Chicken Tikka Masala</h1>
                    <p style="font-size: small;">(Marinated chicken grilled and served in a spicy, creamy sauce.)</p>
                </td>
                <td>250/-</td>
                <td>280/-</td>
                <td>320/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img
                    src="{{ url_for('static', filename='IMAGES/Countries/India/lrj.jpeg') }}"
                    alt="Lamb Rogan Josh Image"
                    onclick="enlargeImage(this)"
                >
                </td>
                <td>
                    <h1>Lamb Rogan Josh</h1>
                    <p style="font-size: small;">(Fragrant lamb curry with a rich, spicy sauce.)</p>
                </td>
                <td>320/-</td>
                <td>360/-</td>
                <td>400/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img
                    src="{{ url_for('static', filename='IMAGES/Countries/India/pc.jpeg') }}"
                    alt="Prawn Curry Image"
                    onclick="enlargeImage(this)"
                >
                </td>
                <td>
                    <h1>Prawn Curry</h1>
                    <p style="font-size: small;">(Fresh prawns cooked in a spicy coconut-based curry.)</p>
                </td>
                <td>200/-</td>
                <td>340/-</td>
                <td>380/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img
                    src="{{ url_for('static', filename='IMAGES/Countries/India/ff.jpeg') }}"
                    alt="Fish Fry Image"
                    onclick="enlargeImage(this)"
                >
                </td>
                <td>
                        <h1 >Fish Fry</h1>
                        <p style="font-size: small;">(This biryani is made with a blend of spices like fennel, cinnamon, red chili powder, and tamarind.)</p>
                </td>
                <td>220/-</td>
                <td>260/-</td>
                <td>300/-</td>
            </tr>
        </table>
    </div>


    <div style="position: fixed; bottom: 20px; right: 70px;">
        <button class="toppage" onclick="scrollToTop()">&#8593;</button>
    </div>


    <script>
        function enlargeImage(img) {
            var overlay = document.getElementById('overlay');
            if (img.classList.contains('enlarged')) {
                img.classList.remove('enlarged');
                overlay.style.display = 'none';
            } else {
                var enlargedImages = document.querySelectorAll('.enlarged');
                enlargedImages.forEach(function(enlargedImg) {
                    enlargedImg.classList.remove('enlarged');
                });
                img.classList.add('enlarged');
                overlay.style.display = 'block';
            }
        }

        function closeImage() {
            var enlargedImages = document.querySelectorAll('.enlarged');
            enlargedImages.forEach(function(enlargedImg) {
                enlargedImg.classList.remove('enlarged');
            });
            document.getElementById('overlay').style.display = 'none';
        }
        
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    </script>

</body>
</html>
