<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Italian Cuisine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='countries_style.css') }}">
    <style>
        .heading{
            color:#F3EFBC;
        }
        .paragraph{
            color:#F3EFBC;
        }
        .table1{
            color: #F3EFBC;
        }
        .table2{
            color: #F3EFBC;
            border: 1px solid white;
        }
        .th1{
            color: #F3EFBC;
        }
        th{
            color: #1D2E28;
        }
        .rounded-rectangle{
            border: 1px solid white;
        }
        th.veg:hover {background-color: rgb(8, 212, 42)}
        th.non-veg:hover {background-color: rgb(230, 65, 40)}
        tr.row:hover{
            background-color: #7cc2aa;
            color: #1D2E28;
        }
        a:link, a:visited, a:active{
            color: #F3EFBC;
        }
        .toppage{
            background-color: rgb(5, 5, 5);
            color: #F3EFBC;
        }
        .toppage:hover{
            background-color: #F3EFBC;
            color: rgb(5, 5, 5);
        }

        .enlarged {
            position: fixed;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            max-width: 90%;
            max-height: 90%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }
        
    </style>
</head>
<body style="background-image: url('{{ url_for('static', filename='IMAGES/Countries/Italy/green1.jpeg') }}');">
    <div id="myDiv">
        <h1 class="heading">Italian Cuisine</h1>
    </div>
    <div>
        <p class="paragraph">Italian cuisine is celebrated for its simplicity and use of fresh ingredients. Each region offers unique dishes, from the creamy risottos of the north to the tomato and olive oil-rich fare of the south.</p>
        <p class="paragraph">Pasta is a cornerstone, with varieties like Spaghetti Carbonara and Lasagna showcasing Italy's culinary diversity. Pizza, particularly the Neapolitan style, is another beloved staple.</p>
        <p class="paragraph">Fresh, seasonal ingredients are key, highlighted in dishes like Caprese Salad, which uses ripe tomatoes, mozzarella, and basil. This focus on quality and flavor is a hallmark of Italian cooking.</p>
        <p class="paragraph">Dining in Italy is about more than just food; it's a social event. Meals are enjoyed with family and friends, celebrating the joy of good food and togetherness. Buon appetito!</p>
    </div>
    <div>
        <table class="table1">
            <tr>
                <th class="rounded-rectangle th1 veg" onclick="location.href='#veg-link'">VEG</th>
                <th class="rounded-rectangle th1 non-veg" onclick="location.href='#non-veg-link'">NON-VEG</th>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <h1 style="color: #F3EFBC; margin: 40px" id="veg-link">VEG</h1>
        <hr>
    </div>
    <!--Veg Biryani table -->
    <div>
        <table class="table2">
            <tr style="background-color: #F3EFBC;">
                <th style="width: 20%;">IMAGE</th>
                <th style="width: 50%;">Name</th>
                <th style="width: 10%;">Price (Half)</th>
                <th style="width: 10%;">Price (Full)</th>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Italy/cs.jpeg') }}" alt="Caprese Salad Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Caprese Salad</h1>
                    <p style="font-size: small;">(A classic Italian salad made with fresh tomatoes, mozzarella cheese, basil, and drizzled with olive oil and balsamic vinegar.)</p>
                </td>
                <td>200/-</td>
                <td>400/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Italy/eggplant_parmigiana.jpeg') }}" alt="Eggplant Parmigiana Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Eggplant Parmigiana</h1>
                    <p style="font-size: small;">(Layers of breaded eggplant, marinara sauce, and melted cheese, baked to perfection.)</p>
                </td>
                <td>300/-</td>
                <td>600/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Italy/mushroom_risotto.jpeg') }}" alt="Mushroom Risotto Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Mushroom Risotto</h1>
                    <p style="font-size: small;">(Creamy risotto made with Arborio rice, mushrooms, Parmesan cheese, and white wine.)</p>
                </td>
                <td>350/-</td>
                <td>700/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Italy/bruschetta.jpeg') }}" alt="Bruschetta Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Bruschetta</h1>
                    <p style="font-size: small;">(Grilled bread topped with a mixture of diced tomatoes, garlic, basil, and olive oil.)</p>
                </td>
                <td>150/-</td>
                <td>300/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Italy/panzanella.jpeg') }}" alt="Panzanella Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Panzanella</h1>
                    <p style="font-size: small;">(A Tuscan bread salad made with soaked stale bread, tomatoes, cucumbers, onions, and basil.)</p>
                </td>
                <td>250/-</td>
                <td>500/-</td>
            </tr>
        </table>
    </div>
    <!--Non-Veg Table -->
    <div>
        <h1 style="color: #F3EFBC; margin: 40px" id="non-veg-link">NON-VEG</h1>
        <hr>
    </div>
    <div>
        <table class="table2">
            <tr style="background-color: #F3EFBC;">
                <th style="width: 20%;">IMAGE</th>
                <th style="width: 50%;">Name</th>
                <th style="width: 10%;">Price (Half)</th>
                <th style="width: 10%;">Price (Full)</th>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Italy/lasagna_bolognese.jpeg') }}" alt="Lasagna Bolognese Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Lasagna Bolognese</h1>
                    <p style="font-size: small;">(Layers of pasta, Bolognese meat sauce, and creamy béchamel sauce, baked until bubbly.)</p>
                </td>
                <td>500/-</td>
                <td>1000/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Italy/chicken_parmesan.jpeg') }}" alt="Chicken Parmesan Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Chicken Parmesan</h1>
                    <p style="font-size: small;">(Breaded chicken breast topped with marinara sauce and mozzarella cheese, then baked and served with pasta.)</p>
                </td>
                <td>450/-</td>
                <td>900/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Italy/spaghetti_carbonara.jpeg') }}" alt="Spaghetti Carbonara Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Spaghetti Carbonara</h1>
                    <p style="font-size: small;">(Pasta with a sauce made from eggs, cheese (Pecorino Romano or Parmesan), pancetta, and black pepper.)</p>
                </td>
                <td>400/-</td>
                <td>800/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Italy/osso_buco.jpeg') }}" alt="Osso Buco Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Osso Buco</h1>
                    <p style="font-size: small;">(Braised veal shanks cooked with vegetables, white wine, and broth, traditionally served with risotto.)</p>
                </td>
                <td>600/-</td>
                <td>1200/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Italy/saltimbocca.jpeg') }}" alt="Saltimbocca Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Saltimbocca</h1>
                    <p style="font-size: small;">(Veal cutlets topped with prosciutto and sage, cooked in a white wine and butter sauce.)</p>
                </td>
                <td>550/-</td>
                <td>1100/-</td>
            </tr>
        </table>
    </div>

    <div style="position: fixed; bottom: 20px; right: 70px;">
        <button class="toppage" onclick="scrollToTop()">&#8593;</button>
    </div>

    <div id="overlay" class="overlay" style="display: none;" onclick="closeImage()"></div>

    <script>
        function enlargeImage(img) {
            var overlay = document.getElementById('overlay');
            if (img.classList.contains('enlarged')) {
                img.classList.remove('enlarged');
                overlay.style.display = 'none';
            } else {
                var enlargedImages = document.querySelectorAll('.enlarged');
                enlargedImages.forEach(function(enlargedImg) {
                    enlargedImg.classList.remove('enlarged');
                });
                img.classList.add('enlarged');
                overlay.style.display = 'block';
            }
        }

        function closeImage() {
            var enlargedImages = document.querySelectorAll('.enlarged');
            enlargedImages.forEach(function(enlargedImg) {
                enlargedImg.classList.remove('enlarged');
            });
            document.getElementById('overlay').style.display = 'none';
        }
        
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    </script>
</body>
</html>

