<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Japanese Cuisine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='countries_style.css') }}">
    <style>

        .heading{
            color:antiquewhite;

        }
        .paragraph{
            color:antiquewhite;
        }

        .table1{
            color: antiquewhite;

        }
        .table2{
            color: antiquewhite;

            border: 1px solid white;
        }

        /*For vega nd nono veg */
        .th1{
            color: antiquewhite;
            
        }
        /*for veg table*/
        th{
            color: rgb(80, 2, 79);
            
        }

        /*VEG and NON-veg Button like tables*/
        .rounded-rectangle{
            border: 1px solid white;
        }

        th.veg:hover {background-color: rgb(8, 114, 26)}
        th.non-veg:hover {background-color: rgb(230, 65, 40)}
        tr.row:hover{background-color: pink;
                    color: rgb(80, 2, 79);}
        a:link{
            color: antiquewhite;
        }
        a:visited{
            color: antiquewhite;
        }
        a:active{
            color: antiquewhite;
        }

        .toppage{
            background-color: rgb(5, 5, 5);
            color: antiquewhite;
        }

        .toppage:hover{
            background-color: antiquewhite;
            color: rgb(5, 5, 5);
        }

    </style>
</head>
<body style="background-image: url('{{ url_for('static', filename='IMAGES/Countries/Japan/pink1.jpeg') }}');">

    <div id="overlay" class="overlay" onclick="closeImage()" style="display:none;"></div>

    <div id="myDiv">
        <h1 class="heading">Japanese Cuisine</h1>
    </div>
    <div>
        <p class="paragraph">Japanese cuisine is celebrated for its simplicity and focus on fresh, high-quality ingredients. Sushi, tempura, and ramen are some of the iconic dishes that showcase the elegance and refinement of Japanese cooking. The art of Japanese cuisine lies in enhancing the natural flavors of the ingredients, often through minimalistic preparation and presentation.</p>

        <p class="paragraph">A key feature of Japanese cuisine is the use of seasonal and locally sourced ingredients. Dishes like sashimi and tempura emphasize the freshness of seafood and vegetables, ensuring that the natural flavors shine through. The attention to detail in preparation and presentation makes Japanese cuisine both visually appealing and delicious.</p>

        <p class="paragraph">Japanese meals often include a variety of small dishes, allowing diners to experience a range of flavors and textures. Traditional meals such as kaiseki, a multi-course dining experience, highlight the culinary artistry and meticulous preparation that define Japanese cuisine. Each course is thoughtfully crafted to balance taste, texture, and presentation.</p>

        <p class="paragraph">Dining in Japan is not just about the food; it is also a cultural experience. From the tranquil ambiance of a traditional tea ceremony to the bustling energy of a ramen shop, Japanese dining culture offers a unique and immersive experience. Whether enjoying a simple bowl of miso soup or an elaborate sushi platter, Japanese cuisine invites you to savor each moment and appreciate the beauty of the culinary arts.</p>

    </div>

    <div>
        <table class="table1">
            <tr>
                <th class="rounded-rectangle th1 veg" onclick="location.href='#veg-link'">VEG</th>
                <th class="rounded-rectangle th1 non-veg" onclick="location.href='#non-veg-link'">NON-VEG</th>
            </tr>
        </table>
    </div>
    <br>

    <div>
        <h1 style="color: antiquewhite; margin: 40px" id="veg-link">VEG</h1>
        <hr>
    </div>

    <!--Veg Table -->
    <div>
        <table class="table2">
            <tr style="background-color: antiquewhite;">
                <th style="width: 20%;">IMAGE</th>
                <th style="width: 50%;">Name</th>
                <th style="width: 10%;">Price (Half)</th>
                <th style="width: 10%;">Price (Full)</th>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Japan/yudofu.jpeg') }}" alt="Yudofu Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Yudofu</h1>
                    <p style="font-size: small;">(Fresh tofu simmered in hot water, often seasoned with soy sauce and dried kelp.)</p>
                </td>
                <td>100/-</td>
                <td>200/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Japan/futomaki.jpeg') }}" alt="Futomaki Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Futomaki</h1>
                    <p style="font-size: small;">(Large sushi rolls filled with a variety of vegetables like cucumber, carrots, and shiitake mushrooms.)</p>
                </td>
                <td>150/-</td>
                <td>300/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Japan/sunomono.jpeg') }}" alt="Sunomono Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Sunomono</h1>
                    <p style="font-size: small;">(Refreshing cucumber salad dressed with vinegar and soy sauce, sometimes topped with sesame seeds.)</p>
                </td>
                <td>75/-</td>
                <td>150/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Japan/atsuage.webp') }}" alt="Atsuage Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Atsuage</h1>
                    <p style="font-size: small;">(Thick slices of tofu deep-fried until crispy on the outside and soft on the inside, served with soy sauce and grated ginger.)</p>
                </td>
                <td>125/-</td>
                <td>250/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Japan/kinpira_gobo.jpeg') }}" alt="Kinpira Gobo Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Kinpira Gobo</h1>
                    <p style="font-size: small;">(Crunchy and savory dish made with shredded burdock root and carrot, simmered in soy sauce and sake.)</p>
                </td>
                <td>90/-</td>
                <td>180/-</td>
            </tr>
        </table>
    </div>
    


    <!--Non-Veg Table -->
    <div>
        <h1 style="color: antiquewhite; margin: 40px" id="non-veg-link">NON-VEG</h1>
        <hr>
    </div>
    <div>
        <table class="table2">
            <tr style="background-color: antiquewhite;">
                <th style="width: 20%;">IMAGE</th>
                <th style="width: 50%;">Name</th>
                <th style="width: 10%;">Price (Half)</th>
                <th style="width: 10%;">Price (Full)</th>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Japan/sushi.jpeg') }}" alt="Sushi Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Sushi</h1>
                    <p style="font-size: small;">(Slices of raw fish served over vinegared rice, or rolled with seaweed and rice.)</p>
                </td>
                <td>200/-</td>
                <td>400/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Japan/tempura.jpeg') }}" alt="Tempura Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Tempura</h1>
                    <p style="font-size: small;">(Lightly battered and deep-fried seafood or vegetables, served with a dipping sauce.)</p>
                </td>
                <td>175/-</td>
                <td>350/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Japan/yakitori.jpeg') }}" alt="Yakitori Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Yakitori</h1>
                    <p style="font-size: small;">(Skewers of grilled chicken, often seasoned with a savory sauce.)</p>
                </td>
                <td>150/-</td>
                <td>300/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Japan/tonkotsu_ramen.jpeg') }}" alt="Tonkotsu Ramen Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Tonkotsu Ramen</h1>
                    <p style="font-size: small;">(Rich and creamy pork bone broth ramen, topped with slices of pork, green onions, and sometimes corn or butter.)</p>
                </td>
                <td>250/-</td>
                <td>500/-</td>
            </tr>
            <tr class="nsml row">
                <td>
                    <img src="{{ url_for('static', filename='IMAGES/Countries/Japan/katsudon.jpeg') }}" alt="Katsudon Image" onclick="enlargeImage(this)">
                </td>
                <td>
                    <h1>Katsudon</h1>
                    <p style="font-size: small;">(A bowl of rice topped with a breaded and fried pork cutlet, simmered in a savory broth with onions.)</p>
                </td>
                <td>225/-</td>
                <td>450/-</td>
            </tr>
        </table>
    </div>



    <div style="position: fixed; bottom: 20px; right: 70px;">
        <button class="toppage" onclick="scrollToTop()">&#8593;</button>
    </div>

    <script>
        function enlargeImage(img) {
            var overlay = document.getElementById('overlay');
            if (img.classList.contains('enlarged')) {
                img.classList.remove('enlarged');
                overlay.style.display = 'none';
            } else {
                var enlargedImages = document.querySelectorAll('.enlarged');
                enlargedImages.forEach(function(enlargedImg) {
                    enlargedImg.classList.remove('enlarged');
                });
                img.classList.add('enlarged');
                overlay.style.display = 'block';
            }
        }

        function closeImage() {
            var enlargedImages = document.querySelectorAll('.enlarged');
            enlargedImages.forEach(function(enlargedImg) {
                enlargedImg.classList.remove('enlarged');
            });
            document.getElementById('overlay').style.display = 'none';
        }
        
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    </script>



</body>
</html>
